/**
 * Open Innovation Labs theme for reveal.js.
 *
 * 
 */
@import url(http://overpass-30e2.kxcdn.com/overpass.css);
@import url(http://overpass-30e2.kxcdn.com/overpass-mono.css);

body {
  background-color: #000;
  font-family: "Overpass", sans-serif;
  font-size: 38px;
}

#header {
  margin-left: 5%;
  width: 90%;
  color: #c00;
  font-weight: 900;
  font-size: .7em;
  list-style: none;
}

#header li {
  display: inline-block;
}

#header li:last-child {
  float: right; 
}

.reveal {
  background-image: url("images/logos/oil-protobadge.png"), url("images/logos/redhat-logo.png");
  background-size: 140px, 110px;
  background-position: 7% 98%, 93% 98%; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}


.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eee;
  font-weight: Bold;
  line-height: .8;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

